@import "base/normalize";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

// variables
$purple: #9754e2;
$grey: #333;
$bgNavColor: #2c2c2c;
$lightGrey: #e5e5e5;
$white: #fff;

$openCondensed: 'Open Sans Condensed', arial, sans-serif;

$trans: all 0.5s ease-in-out;

@mixin box-shadow($color, $thick) {
  -webkit-box-shadow:0 0 $thick 0 $color;
  -moz-box-shadow:0 0 $thick 0 $color;
  box-shadow:0 0 $thick 0 $color;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;

  @include box-shadow(rgba(0,0,0,.9), 50px);
}

a {
  &:hover {
    opacity: 0.7;
  }
}

img {
  max-width: 100%;
}

ul a {
  text-decoration: none;
}

html {
  background: url('../img/form/bg.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
}

%nav {
  transition: $trans;
  text-align: center;
  display: block;
  color: #fff;
}

@mixin btnNav($bgcolor, $bordercolor, $padding, $width)
{
  @extend %nav;
  padding: $padding 0;
  width: $width;
  background-color: $bgcolor;
  border-bottom: 3px solid $bordercolor;
  text-decoration: none;
}
header {
  height: 65px;
  background-color: $grey;

  h1 {
    float: left;
    font-size: 0;
    background: url('../img/form/logo.png') center 5px $purple no-repeat;
    width: 230px;
    height: 65px;
    border-bottom: 3px solid lighten( $purple, 10% );
  }
  @media (max-width:779px) {
    h1 {
      margin: 0 auto;
      float: none;
    }

  }

  @media (min-width: 780px){
    ul {
      display: block!important;
    }
  }
  ul {
    float: right;
    margin-top: 16px;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    li + li {
      margin-left: 5px;
    }
    a {
      @include btnNav($purple, lighten($purple, 10%), 5px, 160px);
    }
  }
  #btn-nav {
    padding: 23px 10px;
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: $purple;
    transition: $trans;
  }
  @media (max-width:779px) {
    ul {
      margin-top: 5px;
      float: none;
      width: 100%;
      display: none;
      a {
        display: block;
        width: 100%;
        padding: 10px 0;
      }
      li {
        display: block!important;
        margin-left: 0!important;
        margin-right: 0;
      }
    }
  }
}
@media (max-width:779px) {
  header {
    height: auto!important;

    #btn-nav {
      display:block;
    }

    .burger:before,
    .burger:after,
    .burger {
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
      transition: all .3s ease-in-out;
    }

    .burger:after,
    .burger:before {
      content: '';
      display: block;
      position: relative;
    }

    .burger:before { top: -10px; }
    .burger:after { top: 6px; }

    .is-open .burger { background-color: transparent; }

    .is-open .burger:before,
    .is-open .burger:after {
      background-color: #fff;
    }

    .is-open .burger:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .is-open .burger:after {
      top: -4px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .is-open:hover .burger:after { top: -4px; }
    .is-open:hover .burger:before { top: 0; }
  }
}

nav.menu {
  background-color: $bgNavColor;
  text-align: center;
  padding: 10px 0;

  a {
    @include btnNav($grey, lighten($grey, 10%), 3px, 170px);

    &.active {
      border-color: $purple;
    }
  }
  @media (max-width: 960px) and (min-width:780px) {
    a {
      width: 120px;
    }
  }
  @media (max-width:779px) and (min-width: 641px){
    a {
      width: 100px;
    }
  }
  @media (max-width:640px) {
    a {
      display: block;
      width: 100%;
      padding: 10px 0;
    }
    li {
      display: block!important;
      margin-left: 0!important;
    }
  }

  ul {
    margin: 0;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 15px;
    }
  }
}

// slider
.rslides_tabs {
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 50px;
  z-index: 10;
  li {
    display: inline-block;
    margin-right: 15px;
    &.rslides_here a {
      background-color: $purple;
    }
    a {
      font-size:0;
      display:block;
      width: 12px;
      height: 12px;
      background-color: $grey;
    }
  }
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }
  img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
}

#content {
  padding: 10px;
  .col {
    float: left;
    &.cLeft {
      width: 42%;
      margin-right: 3%;
    }
    &.cRight {
      width: 55%;
    }
  }
  @media (max-width:779px) {
    .stream h1 {margin-top: 20px;}
    .col {
      float: none;
      &.cLeft, &.cRight {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  h1 {
    color: $purple;
    font-size: 2.143em;
    font-family: $openCondensed;
    em {
      font-weight: 300;
      margin-right: 5px;
    }
    span {
      display: inline-block;
      background-color: $white;
      padding-right: 1em;
    }
    &:after {
      height: 22px;
      background-color: $lightGrey;
      display: block;
      margin-top: -32px;
      content: "";
    }
  }

  .logos {
    margin-top: 15px;
    ul {
      margin: 25px 0;
    }
    li {
      display: inline-block;
      & + li {
        margin-left: 10%;
      }
    }
    @media (max-width: 960px) and (min-width:780px) {
      li {
        width: 25%;
      }
    }
    @media (max-width: 640px) {
      li {
        width: 100%;
        margin: 10px 0 !important;
      }
    }
  }

  .partner {
    li {
      &:nth-child(2n+1) {
        clear: both;
        margin-left: 0;
        float: left
      }
      &:nth-child(2n){
        float: right;
      }
    }
    @media (max-width: 960px) and (min-width:780px) {
      li {
        width: 45%;
      }
    }
    @media (max-width:779px) {
      li {
        float: left!important;
      }
    }

  }

  iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  .news {
    h2 {
      border-bottom: 1px solid $grey;
      font-family: $openCondensed;
      font-weight: 500;
      font-size: 2.143em;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.857em;
    }

    .thumbnail {
      position: relative;
      max-width: 400px;

      img {
        display: block;
      }

      .infos {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        border-left: 3px solid $purple;
        height: 100%;
        width: 20%;

        p {
          height: 55%;
          border-bottom: 1px solid;
          border-color: rgba(255, 255, 255, 0.1);
          text-align: right;
          margin: 0;
          text-transform: uppercase;
          padding-top: 15%;
          padding-right: 30%;
          color: $white;
          font-size: 2.143em;
          line-height: 1;
          font-family: $openCondensed;

          strong {
            display: block;
          }
        }
        .readMore {
          display: block;
          height: 45%;
          background: url('../img/form/readmore.png') center no-repeat;
          font-size: 0;
        }
      }
    }

    .btn {
      @include btnNav($purple, lighten($purple, 10%), 5px, 160px);
      border: none;
      margin: 0 auto;
    }
  }

  .event {
    margin-top: 20px;

    .content {
      img {
        float: left;
        margin-right: 15px;
      }

      .detail {
        background: url('../img/content/bgevent.jpg');
        height: 125px;

        span, h2 {
          font-size: 1.7em;
          font-family: $openCondensed;
        }
        @media (max-width:960px) and (min-width: 780px) {
          span, h2 {
            font-size: 1.4em;
          }
        }

        span {
          line-height: 1;
          text-transform: uppercase;
          color: $white;
          font-weight: bold;
        }

        h2 {
          color: black;
          padding-top: 5px;
          margin-bottom: 0;
        }

        p {
          margin: 0;
          color: darken($purple, 20%);
        }

        .btn {
          @include btnNav($purple, lighten($purple, 10%), 5px, 160px);
          border: none;
          display: inline-block;
          margin-left: -20px;
        }

      }
    }
  }
}

footer {
  margin-top: 50px;
  background: $grey;
  border-top: 5px solid $purple;
  padding: 20px 10px 5px;
  font-family: $openCondensed;
  a {
    text-decoration: none;
    color: inherit;
  }
  p {
    display: inline-block;
    max-width: 40%;
    span {
      display: block;
    }
    a {
      font-weight: bold;
    }
  }
  ul {
    display: inline-block;
    float:right;
    li {
      display: inline-block;
      margin-top: 5px;
    }
    li + li {
      padding-left: 5px;
      &:before {
        content: "|";
        margin-right: 5px;
      }
    }
  }
  @media (max-width: 779px) {
    p, span {
      width: 100%;
      max-width: 100%;
      display: block;
    }
  }
}
@media (max-width: 779px) {
  footer {
    padding-bottom: 25px;
  }
}