@import "base/normalize";

// variables
$violet: #9754e2;
$grey: #333;
$lightGrey: #e5e5e5;
$white: #fff;

$arial: Arial, sans-serif;
$helvetica: Helvetica, arial, sans-serif;

$trans: all 0.5s ease-in-out;

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.wrapper:before, .wrapper:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 -30px 45px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:0 -30px 45px rgba(0, 0, 0, 0.9);
  box-shadow:0 -30px 45px rgba(0, 0, 0, 0.9);
  top:10px;
  bottom:10px;
  left:0;
  right:0;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}
.wrapper:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}

a {
  &:hover {
    opacity: 0.7;
  }
}

ul a {
  text-decoration: none;
}

html {
  background: url('../img/form/bg.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  height: 65px;
  background-color: $grey;

  h1 {
    float: left;
    font-size: 0;
    background: url('../img/form/logo.png') center 5px $violet no-repeat;
    width: 230px;
    height: 65px;
    border-bottom: 3px solid lighten( $violet, 10% );
  }

  ul {
    float: right;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      transition: $trans;
      text-align: center;
      display: block;
      padding: 7px 0;
      width: 160px;
      color: #fff;
      background-color: $violet;
      border-bottom: 3px solid lighten( $violet, 10% );
    }
  }
}


// slider
.rslides_tabs {
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 50px;
  z-index: 10;
  li {
    display: inline-block;
    margin-right: 15px;
    &.rslides_here a {
      background-color: $violet;
    }
    a {
      font-size:0;
      display:block;
      width: 12px;
      height: 12px;
      background-color: $grey;
    }
  }
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}